
*, *::before, *::after {
    box-sizing: inherit;
}

div {
    display: block;
}

section {
    display: block;
}

html {
    display: block;
    view-transition-name: root;
    background-color: #fff;
    font-size: 16px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    min-width: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
}

body {
    display: block;
    margin: 8px;
}

body, button, input, optgroup, select, textarea {
    font-family: BlinkMacSystemFont, -apple-system, segoe ui, roboto, oxygen, ubuntu, cantarell, fira sans, droid sans, helvetica neue, helvetica, arial, sans-serif;
}

.container {
    flex-grow: 1;
    margin: 0 auto;
    position: relative;
    width: auto;
}

.coluna {
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 0.75rem;
    justify-content: center;
}

.colunas {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    font-family: BlinkMacSystemFont, -apple-system, segoe ui, roboto, oxygen, ubuntu, cantarell, fira sans, droid sans, helvetica neue, helvetica, arial, sans-serif;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
    color: #4a4a4a;
    box-sizing: inherit;
    display: flex;
    padding: .75rem;
    margin-left: -0.75rem;
    margin-right: -0.75rem;
    margin-top: -0.75rem;
}

colunas:last-child {
    margin-bottom: -0.75rem;
}

.coluna.is-4, .coluna.is-4-tablet {
    flex: none;
    width: 33.33333%;
}

.label:not(:last-child) {
    margin-bottom: 0.5em;
}

.label {
    color: #363636;
    display: block;
    font-size: 1rem;
    font-weight: 700;
    cursor: default;
}

.control {
    box-sizing: border-box;
    clear: both;
    font-size: 1rem;
    position: relative;
    text-align: inherit;
}

.is-primary.input, .is-primary.textarea {
    border-color: #00d1b2;
}

.input, .textarea {
    box-shadow: inset 0 0.0625em 0.125em rgba(10, 10, 10, .05);
    max-width: 100%;
    width: 100%;
}

.button, .input, .textarea, .select select, .file-cta, .file-name, .pagination-previous, .pagination-next, .pagination-link, .pagination-ellipsis {
    -moz-appearance: none;
    -webkit-appearance: none;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: none;
    display: inline-flex;
    font-size: 1rem;
    height: 2.5em;
    justify-content: flex-start;
    line-height: 1.5;
    padding-bottom: calc(0.5em - 1px);
    padding-left: calc(0.75em - 1px);
    padding-right: calc(0.75em - 1px);
    padding-top: calc(0.5em - 1px);
    position: relative;
    vertical-align: top;
}

input {
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    /*color: fieldtext;*/
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    /*background-color: field;*/
    margin: 0em;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    /*border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));*/
    border-image: initial;
}

select:not([multiple]) {
    padding-right: 2.5em;
}

select {
    cursor: pointer;
    display: block;
    font-size: 1em;
    max-width: 100%;
    outline: none;
}

.select {
    display: inline-block;
    max-width: 100%;
    position: relative;
    vertical-align: top;
}

.input, .textarea, .select select {
    background-color: #fff;
    border-color: #dbdbdb;
    border-radius: 4px;
    color: #363636;
}

body, button, input, optgroup, select, textarea {
    font-family: BlinkMacSystemFont, -apple-system, segoe ui, roboto, oxygen, ubuntu, cantarell, fira sans, droid sans, helvetica neue, helvetica, arial, sans-serif;
}

button, input, select, textarea {
    margin: 0;
}

.field.is-grouped {
    display: flex;
    justify-content: flex-start;
}

/*.field{*/
/*    display: flex!important;*/
/*}*/

.field:not(:last-child) {
    margin-bottom: 0.75rem;
}


.m-t-20 {
    margin-top: 20px !important;
}

span {
    font-style: inherit;
    font-weight: inherit;
}

button.is-link:focus, .button.is-link.is-focused {
    border-color: transparent;
    color: #fff;
}

.button.is-large {
    font-size: 1.5rem;
}

.button.is-link {
    background-color: #485fc7;
    border-color: transparent;
    color: #fff;
}

.button:focus, .button.is-focused {
    border-color: #485fc7;
    color: #363636;
}

.button:focus, .input:focus, .textarea:focus, .select select:focus, .file-cta:focus, .file-name:focus, .pagination-previous:focus, .pagination-next:focus, .pagination-link:focus, .pagination-ellipsis:focus, .is-focused.button, .is-focused.input, .is-focused.textarea, .select select.is-focused, .is-focused.file-cta, .is-focused.file-name, .is-focused.pagination-previous, .is-focused.pagination-next, .is-focused.pagination-link, .is-focused.pagination-ellipsis, .button:active, .input:active, .textarea:active, .select select:active, .file-cta:active, .file-name:active, .pagination-previous:active, .pagination-next:active, .pagination-link:active, .pagination-ellipsis:active, .is-active.button, .is-active.input, .is-active.textarea, .select select.is-active, .is-active.file-cta, .is-active.file-name, .is-active.pagination-previous, .is-active.pagination-next, .is-active.pagination-link, .is-active.pagination-ellipsis {
    outline: none;
}

.button {
    background-color: #fff;
    border-color: #dbdbdb;
    border-width: 1px;
    color: #363636;
    cursor: pointer;
    justify-content: center;
    padding-bottom: calc(0.5em - 1px);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: calc(0.5em - 1px);
    text-align: center;
    white-space: nowrap;
    margin-inline-end: 8.5%;
    margin-inline-start: 8.5%;
    margin-bottom: 20px!important;
    margin-top: 20px!important;

}

.textarea[rows] {
    height: initial;
}

.textarea {
    display: block;
    max-width: 100%;
    min-width: 100%;
    padding: calc(0.75em - 1px);
    resize: vertical;
}

.box:not(:last-child), .notification:not(:last-child), .titulo:not(:last-child) {
    margin-bottom: 1.5rem;
}


.box:not(:last-child), .content:not(:last-child), .notification:not(:last-child), .progress:not(:last-child), .table:not(:last-child), .table-container:not(:last-child), .titulo:not(:last-child), .subtitle:not(:last-child), .block:not(:last-child), .breadcrumb:not(:last-child), .level:not(:last-child), .message:not(:last-child), .pagination:not(:last-child), .tabs:not(:last-child) {
    margin-bottom: 1.5rem;
}

.box {
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
    color: #4a4a4a;
    display: block;
    padding: 1.25rem;
    max-width: 80%;
    margin: auto;
}

.is-size-5 {
    font-size: 1.25rem !important;
}

.titulo {
    color: #363636;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.125;
}

.help {
    display: block;
    font-size: .75rem;
    margin-top: 0.25rem;
}

.titulo, .subtitle {
    word-break: break-word;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: 400;
}

html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.select select:not([multiple]) {
    padding-right: 2.5em;
}
.select:not(.is-multiple):not(.is-loading)::after {
    border-color: #485fc7;
    right: 1.125em;
    z-index: 4;
}

.select:not(.is-multiple):not(.is-loading)::after, .navbar-link:not(.is-arrowless)::after {
    border: 3px solid transparent;
    border-radius: 2px;
    border-right: 0;
    border-top: 0;
    content: " ";
    display: block;
    height: 0.625em;
    margin-top: -0.4375em;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: rotate(-45deg);
    transform-origin: center;
    width: 0.625em;
}
.select:not(.is-multiple):not(.is-loading)::after {
    border-color: #485fc7;
    right: 1.125em;
    z-index: 4;
}


.select select {
    cursor: pointer;
    display: block;
    font-size: 1em;
    max-width: 100%;
    outline: none;
}

.input, .textarea, .select select {
    background-color: #fff;
    border-color: #dbdbdb;
    border-radius: 4px;
    color: #363636;
}

.is-uppercase{
    text-transform: uppercase!important;
}

.is-size-7{
    font-size: .75rem!important;
}

.is-size-6{
    font-size: 1rem!important;
}

.is-size-5{
    font-size: 1.25rem!important;
}

.m-t-20{
    margin-top: 20px;
}

.m-t-5{
    margin-bottom: 5px!important;
}

.has-text-left {
    text-align: left!important;
}

.has-text-centered {
    text-align: center!important;
}

.has-text-right {
    text-align: right!important;
}

.is-pulled-right {
    float: right!important;
}

.coluna.is-3, .coluna.is-3-tablet {
    flex: none;
    width: 25%;
}

.borda-preco {
    border: 1px solid #333;
    padding: 4px 10px;
}

.button.is-link {
    background-color: #485fc7;
    border-color: transparent;
    color: #fff;
}

.table-div {
    border: 1px solid #ccc;
    padding: 20px;
}

.visualizar-recibo{
    display: none;
}

.visualizar-form{
    display: block;
}